.btn {
    background: linear-gradient(90.21deg, #AA367C -5.91%, #4A2FBD 111.58%);
    border: none;
    color: white;
    font-weight: bold;
    padding: 6px;
    border-radius: 4px;
    position: fixed;
    bottom: 20px;
    left: 20px;
    cursor: pointer;
    z-index: 9999999999999999;

}
.btn:hover{
    animation: up 10ms linear infinite;
    -webkit-animation: up 10ms linear infinite;
}

@keyframes up {
    to{
        transform: translateY(5px);
        -webkit-transform: translateY(5px);
        -moz-transform: translateY(5px);
        -ms-transform: translateY(5px);
        -o-transform: translateY(5px);
}
}